@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

html {
    color-scheme: dark;
    font-family: 'Changa', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 20px;

}

.button-normal {
    background-color: lightblue;
    color: black;
}

.button-normal:active {
    border: 1px solid whitesmoke;
    background-color: rgb(88, 159, 182);
    color: white;
}

button:hover {
    border: 1px solid lightgray;
}

/* dialog styles */
/* alert - normal dialog */

/* Estilo del cuadro de diálogo */
dialog#miDialogo {
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 14px;
    width: 400px;
    max-width: 420px;
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
  
  /* Estilo del encabezado */
  dialog#miDialogo h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

  dialog#miDialogo p {
    color: #333;
    text-align: left;
    padding-bottom: 30px;
    text-align: justify;
}

  dialog#miDialogo input {
    padding-top: -60px;
    display: block;
    width: 100%;
    height: 24px;
    color: #333;
    background-color: white;
    border-color: transparent;
    text-align: justify;
}

  /* Estilo del botón */
  dialog#miDialogo button {
    margin: 0;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    bottom: 14px;
    float: inline-end;
    width: 80px;
    margin-left: 10px;
    margin-bottom: -20px;
}

dialog#miDialogo button:hover {
    border: 1px solid #8a8a8a;
}

dialog#miDialogo button:active {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    background-color: #333;    
}

  /* Efecto backdrop */
  dialog#miDialogo::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}